<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student's HUB | Reset Password page</title>
    {% load static %}
    <link rel="stylesheet" href="https://lunevedy.com/assets/2.0/css/lunevedy.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
    <link rel="icon" href="{% static 'images/banier_ico.png' %}">
</head>


<body>
    <!-- header starts here -->
    <header class="theme-light text-center-desktop text-center-mobile"><div class="image-filter">
        <div class="container-text">
                <div class="badge corners-soft">EMAIL SENT</div>
                <h1 class="title-banier">Check your inbox.</h1>
                <h2 style="color:white">We've emailed you instructions for setting your password. You should receive the <span>email</span> shortly!</h2>
        </div>
        <div class="container-media" style="margin-bottom: -10px">
        <img src="{% static 'images/banier_2.png' %}" alt="Placeholder image">
        </div>
        </div>
    </header>

    <main>
    <section class="section_list">

    <div>
        <p>check your inbox and then get back to the home page</p>
    </div>

    <div class="list_school" id="1">
    </div>
    <div class="school_link">
        <p><a href="../../../">back to Home page</a></p>
    </div>
    </section>
    </main>
</body>