<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student's HUB | {{ student.name }} page</title>
    {% load static %}
    <link rel="stylesheet" href="https://lunevedy.com/assets/2.0/css/lunevedy.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
    <link rel="icon" href="../../../../static/images/banier_ico.png">
</head>


<body>
    <!-- header starts here -->
    <header class="theme-light text-center-desktop text-center-mobile"><div class="image-filter">
        <div class="container-text">
                <h1 class="title-banier">DElETE STUDENT : <span class="highlight">{{  student.name }}</span></h1>
        </div>
        <div class="container-media" style="margin-bottom: -10px">
        <img src="../../../../static/images/banier_2.png" alt="Placeholder image">
        </div>
        </div>
    </header>

    <main>
    <section class="section_list">

    <div>
        <h1>Are you sure to delete {{ student.name }} ?</h1>
    </div>

    <div class="list_school" id="1">
        <form action="" method="post">
        {% csrf_token %}
            <input class="button_input" type="submit" value="Supprimer">
        </form>
    </div>
    <div class="school_link">
        <p><a href="../">back</a></p>
    </div>
    </section>
    </main>
</body>